<h1>Admin Shelters Index</h1>

<div>
  <section id="sheltersAlphabetically">
<% @shelters.each do |shelter| %>
  <p><%= shelter.name %></p>
<% end %>
  </section>
</div>

<div>
  <section id="shelterappsPending">
    <h3>Shelters with Pending Applications: </h3>
    <p><%= @pending_shelters_filtered.map(&:name).join(', ') %></p>
  </section>
</div>
